body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.me {
	text-align: center;
	font-size: 42px;
	font-family: 'Merriweather', serif;
}

#particles-js {
    height: 100%;
    width: 100%;
    background-color: red;
}
