doctype html
html
  block vars
  head
    title #{pageTitle} &mdash; @blog
    // main styles
    link(href="/static/css/styles.css", rel="stylesheet")
    block styles
  body
    .header
      a(href="/") blog 
    .container
      block content
    .footer
    // main javascript
    script(src="/static/js/scripts.js")
    block scripts
    block analytics
      script(src="/static/js/analytics.js")